/* initialisation des paramètre par defaut */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/* Définition des variables */
:root {
  --couleur-principale: #db9334;
  --couleur-secondaire: #cfff3e;
  --couleur-texte: white;
  --taille-police: 16px;
  --hauteur-entete: 281px;
  --marge-entete: -50px;
  --largeur-contenu: 80%;
  --marge-contenu: 4rem auto;
  --espace-interet: 20px;
}

/* Style pour l'entête */
.resume_name_info
{
    background: url('../projetCV/Images/image-removebg-preview.png') center/100% 100% no-repeat;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: var(--hauteur-entete);
    color: var(--couleur-texte);
}
.name
{
    margin-top: var(--marge-entete);
    text-align: center;
}
.resume_wrapper{
    min-height: 100vh;
    width: var(--largeur-contenu);
    margin: var(--marge-contenu);
}
.ctact 
{
    display: flex;
    margin-top: 30px;
    flex-flow: row wrap;
}

/* Gestion de la dispositon des contenus de l'entête */
.data_ctact{display: flex;}
.data_ctact img{margin-right: 8px;}
.side_ctact{margin-right: 15px;}
.side_ctact h3{line-height: 1.5em;}
.profil h2 {
    padding: 5px;
    border: 2px solid black;
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--couleur-texte);
    background-color: rgb(16, 27, 145);
}

/* Gestion de la dispositon des contenus des sections */
.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-left: 50px;
}

.parcours h2 {
    padding: 5px;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--couleur-texte);
    background-color: rgb(16, 27, 145);
} 

.t1_title {
    letter-spacing: 1px;
    font-size: 1.3rem;
}

.t1_title_2 {
    letter-spacing: 1px;
    font-size: 1.3rem;
}

.competences {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-bottom: 10px;
}
.progres
{
    width: 100px;
    background-color: var(--couleur-secondaire);
    border-radius: 5px;
    height: 100%;
}
.progres_1{ width: 140px;}
.progres_2{ width: 75px;}
.progres_3{ width: 50px;}
.progres_4{ width: 130px;}
.progres_5{ width: 90px;}

.barre-degres 
{
    height: 10px;
    background-color: rgb(207, 205, 205);
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(207, 205, 205); /* Ajout d'une bordure solide */
    width: 150px;
}

/* Style des intérêts */
.interets {
    display: flex;
    justify-content: space-between;
    margin-top: var(--espace-interet);
}

.interet {
    display: flex;
    align-items: center;
    /* background-color: violet; */
    padding: 5px;
    border-radius: 5px;
}

.interet img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.interets
{
    display: flex;
    flex-flow: row wrap;
}

.left_t1_content {
    padding: 0px 30px;
    border-left: 2px solid var(--couleur-secondaire);
    position: relative;
}

/* Création du trait vertical */
.right_t1_content {
    padding: 0px 30px;
    border-left: 2px solid var(--couleur-secondaire);
    position: relative;
}

/* Création des points qui sont sur les traits verticaux*/
.left_t1_content::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--couleur-secondaire);
    border-radius: 50%;
    transform: translate(-50%);
    top: 0%;
    left: 0;
}

.right_t1_content::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--couleur-secondaire);
    border-radius: 50%;
    transform: translate(-50%);
    top: 0%;
    left: 0;
}

/* Media queries pour rendre le site responsive */
@media screen and (max-width: 768px) {
    .resume_wrapper {
        width: 90%;
    }

    .timeline {
        margin-left: 0;
    }
}
